{% extends 'base.html' %}
    {% block content %}
    <section class="resume-section" id="in">
        <div class="resume-section-content">
            <h2 >Data Training</h2>
            <a type="button" class="btn btn-primary" href="#in">Data Input</a>
            <a type="button" class="btn btn-primary" href="#out">Data Output</a>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                {{xt|safe}}
            </div>
        </div>
    </section>
    <section class="resume-section" id="out">
        <div class="resume-section-content">
            <a type="button" class="btn btn-primary" href="#in">Data Input</a>
            <a type="button" class="btn btn-primary" href="#out">Data Output</a>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                {{yt|safe}}
            </div>
        </div>
    </section>
    {% endblock %}